<div class="header">
    <div class="sides">
      <a href="#" class="logo"><img class="logonb" src="assets/logo.png"></a>
    </div>
    <div class="sides">
         <!-- <a href="#" class="menu"> </a> -->
    </div>
    <div class="info">
    <!-- <h4><a href="#category">UI DESIGN</a></h4> -->
      <h1>NB Bhondve Groups</h1>
      <!-- <div class="meta">
        <a  href="https://twitter.com/nodws" target="_b" class="author"></a><br>
        By <a href="https://twitter.com/nodws" target="_b">Ninad Bhondve</a> 
      </div> -->
    </div>
  </div>
  <section class="content">
  <p>Construction is an ART and each of our projects is an unprecedented masterpiece; exuding redefined opulence and magnificence. The company has a proven reputation for quality consciousness and reliability – brand values that have been carefully built on uncompromising ethical business practices over the years.</p>
    
  <div align="center">
    <button class="btn btn-danger button" (click)="enquiry()"><span>Enquiry Now</span></button>
</div>
  <p align="center" ><a href="#" class="btn twtr" target="_b">Follow me on Twitter</a>
    </p>
  </section>